{
  "extends": "airbnb",
  "rules": {
    "consistent-return": ["off"],
    "linebreak-style": 0,
    "implicit-arrow-linebreak": ["off"],
    "function-paren-newline": ["off"],
    "max-len": ["error", {"code": 140, "ignoreStrings": true, "ignoreTemplateLiterals": true, "ignoreUrls":true }],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],

    "import/no-unresolved": ["off"],
    "import/no-extraneous-dependencies": ["off"],
    "import/extensions": ["off"],
    "import/prefer-default-export": ["off"],
    "import/no-webpack-loader-syntax": ["off"],

    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-underscore-dangle": ["error", { "allow": ["__REDUX_DEVTOOLS_EXTENSION__"] }],
    "no-undef": ["off"],
    "no-console": ["off"],

    "react/forbid-prop-types": ["off"],
    "react/destructuring-assignment": ["off"],
    "react/jsx-one-expression-per-line": ["off"],
    "react/jsx-wrap-multilines": ["error", {"arrow": "ignore"}],

    "no-template-curly-in-string": ["off"],
    "object-curly-newline": ["off"],
    "jsx-a11y/anchor-is-valid": ["off"],
    "jsx-a11y/no-static-element-interactions": ["off"],
    "jsx-a11y/click-events-have-key-events": ["off"],
    "arrow-parens": ["error", "as-needed"],
    "comma-dangle": ["error", {
      "arrays": "never",
      "objects": "never",
      "imports": "never",
      "exports": "never",
      "functions": "never"
    }]
  }
}